.accbody {
    display: block;
    position: relative;
    top: 5em;
    font-size: larger;
}

.align-content {
    display: contents;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: aquamarine;
}
